# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
node_modules/
.eggs/

# 虚拟环境
.venv/
venv/
env/

# 环境变量与密钥
.env
.env.*
*.key
secrets/

# IDE
.idea/
.vscode/

# 测试与覆盖率
.pytest_cache/
.coverage
htmlcov/

# 日志与临时文件
*.log

# 系统文件
.DS_Store
Thumbs.db
